{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Cities</h1>
    <div id="message"></div>
    <form role="form">
      <div class="form-group">
        <label for="text">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="text">State:</label>
        <input type="text" class="form-control" id="state" name="state">
      </div>
      <button type="submit" id="submit" class="btn btn-default">Submit</button>
      <button class="btn btn-default update">Update</button>
    </form>

    <div id="displayHere">
      <ul>

  {% for city in cities %}
  <div>
      <br>
      <li class="nameInput" id="{{city.name}}">{{city.name}}</li>
      <li class="stateInput" id="{{city.state}}">{{city.state}}</li>
      <br>
      <button class='edit' id="{{city.id}}">Edit</button>
      <button class='delete' id="{{city.id}}">Delete</button><br><br>
  </div>

  {% endfor %}
      </ul>
      </div>

  </div>

{% endblock %}
